@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
:root {
  --primary-color: #0F53FA;
}

body {
  background: #F7F8FA;
  margin: 0;
  font-family: Inter;
}

.navbar {
  background: #F7F8FA;
  padding: 1em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 2em 2em;
}

section.hero .center {
  text-align: center;
}

section.hero .center .heading {
  font-family: Inter;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: -.01em;
  text-align: center;
  color: #1D293F;
}

section.hero .center .subhead {
  font-family: Inter;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 2.0em;
  letter-spacing: 0;
  text-align: center;
  color: #7C8087;
}

section.hero .center .trial2 {
  background: var(--primary-color);
  font-family: Inter;
  padding: 1em;
  border-radius: .5em;
  color: white;
  font-size: .8em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0;
  text-align: center;
}

section.hero .center .credit-card {
  font-family: Inter;
  font-size: .6em;
  margin-top: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7em;
  letter-spacing: 0;
  text-align: center;
  color: #8C97AC;
}

.features-section {
  background: white;
  color: black;
}

.features-section .social-link {
  margin: 0 auto;
  padding-left: .1em;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, -2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, -2fr));
}

.features-section .social-link .link1 {
  margin-bottom: 2em;
}

.features-section .social-link .link2 {
  margin-bottom: 2em;
}

.features-section .social-link .link3 {
  margin-bottom: 2em;
}

.features-section .social-link .link4 {
  margin-bottom: 2em;
}

.features-section .design {
  font-family: Inter;
  font-size: 2.5em;
  margin-top: 2.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.0em;
  letter-spacing: -0.05em;
  text-align: center;
  color: #1D293F;
}

.features-section .companies-versions {
  color: #7C8087;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0;
  text-align: center;
}

.features-section .solutions .info-tab li {
  border-radius: 1em;
}

.features-section .solutions .info-tab .coloring {
  background: #F7F8FA;
}

.features-section .solutions .info-tab .coloring img {
  float: left;
  margin: 1em 1em 4em .5em;
}

.features-section .solutions .info-tab .coloring .little-heading {
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0;
  text-align: left;
  padding: 1em 1em 0em 1em;
  margin: 0 auto -0.9em auto;
}

.features-section .solutions .info-tab .coloring .helped {
  padding: 0em 0em 2em 0em;
  font-size: .9em;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #7C8087;
}

.features-section .action {
  background: var(--primary-color);
  font-family: Inter;
  padding: 1em;
  border-radius: .5em;
  font-size: .8em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
}

.features-section .action a {
  color: white;
}

.features-section .action img {
  margin-right: 1em;
  vertical-align: middle;
}

.features-section .email .container2 .compact .head-up {
  text-align: center;
}

.features-section .email .container2 .compact .head-up .design-dup {
  font-size: 2.5em;
  margin-top: 2.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.0em;
  letter-spacing: -0.05em;
  color: #1D293F;
}

.features-section .email .container2 .compact .head-up .companies-version-dup {
  color: #7C8087;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0;
}

.features-section .email .container2 .more-features {
  text-align: justify;
}

.features-section .email .container2 .more-features img {
  width: 30px;
  vertical-align: middle;
}

.features-section .email .container2 .more-features .img1 {
  margin-right: .5em;
}

.features-section .email .container2 .more-features .img2 {
  margin-right: .5em;
}

.features-section .email .container2 .more-features .img3 {
  margin-right: .5em;
}

.features-section .email .container2 .large-picture {
  display: none;
}

.features-section .work-anywhere {
  text-align: center;
}

.features-section .work-anywhere .container .compact2 .head-up .design-dup {
  font-size: 2.5em;
  margin-top: 2.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.0em;
  letter-spacing: -0.05em;
  color: #1D293F;
}

.features-section .work-anywhere .container .compact2 .head-up .companies-version-dup {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #7C8087;
}

.features-section .work-anywhere img {
  margin-top: 2em;
}

.features-section .inbox {
  display: none;
}

.testimonial-section .container .top-heading .design {
  font-size: 2.5em;
  margin-top: 2.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.0em;
  letter-spacing: -0.05em;
  text-align: center;
  color: #1D293F;
}

.testimonial-section .container .top-heading .companies-version {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #7C8087;
}

.testimonial-section .container .tab-testimonies .testimonial-tab .background-color {
  background: white;
  border-radius: 1em;
}

.testimonial-section .container .tab-testimonies .testimonial-tab .background-color .head {
  margin-top: 6em;
}

.testimonial-section .container .tab-testimonies .testimonial-tab .background-color .head .left-side {
  float: left;
  vertical-align: middle;
  padding: 1em 0em 0em 1em;
}

.testimonial-section .container .tab-testimonies .testimonial-tab .background-color .head .right-side {
  float: right;
  vertical-align: middle;
  padding: 1em 2.5em 0em 0em;
}

.testimonial-section .container .tab-testimonies .testimonial-tab .background-color .head .testimonial-head {
  font-size: 1.125em;
  font-style: normal;
  font-weight: 500;
  line-height: 2em;
  letter-spacing: 0;
  padding: 1em 1em 0em 1em;
  text-align: center;
  color: #1D293F;
}

.testimonial-section .container .tab-testimonies .testimonial-tab .background-color .head .sub-heading {
  font-size: 0.7em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0;
  padding: 0em 1em 1em 1em;
  text-align: center;
  color: #7C8087;
}

.testimonial-section .container .tab-testimonies .testimonial-tab .background-color .comments {
  text-align: center;
  padding: 0em 1em 2em 1em;
}

.plan .container a {
  color: black;
}

.plan .container .top-col {
  text-align: center;
  margin-bottom: 5em;
}

.plan .container .top-col .design {
  font-family: Inter;
  font-size: 2.5em;
  margin-top: 2.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.0em;
  letter-spacing: -0.05em;
  text-align: center;
  color: #1D293F;
}

.plan .container .top-col .plan-frame {
  background: #FFD166;
  padding: .5em 0em .55em 2em;
  border-radius: .5em;
}

.plan .container .top-col span {
  background: white;
  border: 2px solid #FFD166;
  padding: .4em 1em;
  margin-left: 1em;
  border-radius: 0em .5em .5em 0em;
}

.plan .container .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 2em;
}

.plan .container .columns .scroll-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.plan .container .columns .scroll-flex .plans-bold {
  padding-right: 6em;
}

.plan .container .columns .scroll-flex .plans-bold .start1 {
  font-weight: bold;
  font-size: 17px;
}

.plan .container .columns .scroll-flex .plans-bold .store1 {
  color: #1D293F;
  font-size: 17px;
}

.plan .container .columns .scroll-flex .plans-bold .price1 {
  color: #1D293F;
  font-size: 15px;
}

.plan .container .columns .scroll-flex .plans-bold .trial1 {
  border: 1px solid #1D293F;
  display: block;
  text-align: center;
  background: white;
  width: 100%;
  padding: .2em;
}

.plan .container .columns .scroll-flex .storage {
  padding-right: 6em;
}

.plan .container .columns .scroll-flex .storage .start2 {
  font-weight: bold;
  font-size: 17px;
}

.plan .container .columns .scroll-flex .storage .store2 {
  color: #1D293F;
  font-size: 17px;
}

.plan .container .columns .scroll-flex .storage .price2 {
  color: #1D293F;
  font-size: 15px;
}

.plan .container .columns .scroll-flex .storage .trial2 {
  display: block;
  background: #fff;
  text-align: center;
  border: 1px solid #1D293F;
  width: 100%;
  padding: .2em;
}

.plan .container .columns .scroll-flex .price {
  padding-right: 6em;
}

.plan .container .columns .scroll-flex .price .start3 {
  font-weight: bold;
  font-size: 17px;
}

.plan .container .columns .scroll-flex .price .store3 {
  color: #1D293F;
  font-size: 17px;
}

.plan .container .columns .scroll-flex .price .price3 {
  color: #1D293F;
  font-size: 15px;
}

.plan .container .columns .scroll-flex .price a {
  color: #1D293F;
}

.plan .container .columns .scroll-flex .price .blue {
  display: block;
  background: var(--primary-color);
  text-align: center;
  width: 100%;
  padding: .2em;
  margin-top: 0px;
  color: white;
}

.plan .container .columns .day-trial {
  color: #1D293F;
  font-size: 13px;
}

.plan .container .columns span {
  font-size: 30px;
  margin-top: 0;
}

div.scroll-menu {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

.footer {
  background: #1D293F;
}

.footer .container .flex-box .footer-col1 {
  margin-bottom: 4em;
}

.footer .container .flex-box .footer-col1 .text {
  color: #8C97AC;
}

.footer .container .flex-box .footer-col1 .question {
  background: var(--primary-color);
  padding: .5em;
  border-radius: .5em;
  font-size: 12px;
  color: white;
}

.footer .container .toppers {
  color: #8C97AC;
  margin-bottom: 1.5em;
}

.footer .container .footer-col2 {
  margin-bottom: 2em;
}

.footer .container .footer-col2 a {
  text-decoration: none;
  color: #ddf2fd;
  display: block;
  margin-bottom: .5em;
}

.footer .container .footer-col3 {
  margin-bottom: 2em;
}

.footer .container .footer-col3 a {
  text-decoration: none;
  color: #ddf2fd;
  display: block;
  margin-bottom: .5em;
}

.footer .container .footer-col4 {
  margin-bottom: 2em;
  width: 40%;
}

.footer .container .footer-col4 .bottom2 {
  color: #ddf2fd;
}

.footer .container .footer-col4 .bottom2 .coloured {
  color: #FFD166;
}

.bottom {
  color: #ddf2fd;
}

.copyright {
  color: #8C97AC;
  font-size: 10px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

nav.menu-btn {
  display: block;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

@media only screen and (min-width: 744px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav ul.primary-nav a {
    color: #1D293F;
    font-size: .8em;
    padding: .5em 1.5em;
  }
  .navbar nav ul.primary-nav .nav-trial a {
    margin-top: 0;
    display: inline;
    background: var(--primary-color);
    color: white;
    border-radius: .5em;
    padding: .9em;
    font-size: .7em;
  }
  .navbar nav ul.primary-nav li.current a:hover {
    background: #ADD8E6;
    color: #1D293F;
    border-radius: .5em;
    -webkit-animation-duration: 0ms;
            animation-duration: 0ms;
  }
  .hero {
    background: url("../Images/herobg.jpg") no-repeat;
    width: 90%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .features-section {
    background: white;
    color: black;
  }
  .features-section .container .social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 0.6;
    filter: alpha(opacity=60);
    width: 90%;
    margin: 0 auto;
    size: -.5em;
  }
  .features-section .container .social-link .link1 {
    width: 8.9375em;
    height: 1.9375em;
    left: 23.4375em;
    top: 63.875em;
  }
  .features-section .container .social-link .link2 {
    width: 6.5em;
    height: 1.6875em;
    left: 37em;
    top: 64.0625em;
  }
  .features-section .container .social-link .link3 {
    width: 8.5em;
    height: 1.625em;
    left: 47.125em;
    top: 64.0625em;
  }
  .features-section .container .social-link .link4 {
    width: 5.25em;
    height: 1.1875em;
    left: 964px;
    top: 60em;
  }
  .features-section .container .social-link .link5 {
    width: 6.4375em;
    height: 1.6875em;
    left: 70.125em;
    top: 64.0625em;
  }
  .features-section .container .solutions img {
    display: block;
    padding: .1em 4.5em;
  }
  .features-section .container .solutions .container {
    width: 48%;
    margin: 0 auto;
  }
  .features-section .container .solutions ul.info-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: justify;
    margin-top: 3em;
    padding: .5em;
  }
  .features-section .container .solutions ul.info-tab .coloring {
    margin-left: 2em;
    border-radius: .5em;
    padding: 1em -1em 1em -1em;
  }
  .features-section .container .solutions ul.info-tab .coloring .little-heading {
    text-align: center;
  }
  .features-section .container .solutions ul.info-tab .coloring .helped {
    text-align: center;
    padding: .1em .8em 0em .8em;
  }
  .features-section .container .solutions .action {
    text-align: center;
    border-radius: 0.3125em;
    margin: 0px auto;
    width: 11.875em;
    padding: 0.9375em;
    background-color: var(--primary-color);
    color: white;
  }
  .features-section .container .solutions .action a {
    color: white;
  }
  .features-section .container .solutions .action img {
    float: left;
    padding: 0.125em;
    vertical-align: top;
  }
  .features-section .container .email .container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .features-section .container .email .container2 .compact .head-up {
    text-align: center;
  }
  .features-section .container .email .container2 .compact .head-up .design-dup {
    font-size: 2.5em;
    margin-top: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0em;
    letter-spacing: -0.05em;
    color: #1D293F;
  }
  .features-section .container .email .container2 .compact .head-up .companies-version-dup {
    color: #7C8087;
    font-family: Inter;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 0;
  }
  .plan .container a {
    color: black;
  }
  .plan .container .top-col {
    text-align: center;
    margin-bottom: 5em;
  }
  .plan .container .top-col .design {
    font-family: Inter;
    font-size: 2.5em;
    margin-top: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0em;
    letter-spacing: -0.05em;
    text-align: center;
    color: #1D293F;
  }
  .plan .container .top-col .plan-frame {
    background: #FFD166;
    padding: .55em 0em .5em 2.5em;
    border-radius: .5em;
  }
  .plan .container .top-col span {
    background: white;
    border: 2px solid #FFD166;
    padding: .4em 1.5em;
    margin-left: 1em;
    border-radius: 0em .5em .5em 0em;
  }
  .plan .container .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 2em;
  }
  .plan .container .columns .scroll-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .plan .container .columns .scroll-flex .plans-bold {
    padding-right: 6em;
  }
  .plan .container .columns .scroll-flex .plans-bold .start1 {
    font-weight: bold;
    font-size: 17px;
  }
  .plan .container .columns .scroll-flex .plans-bold .store1 {
    color: #1D293F;
    display: block;
    font-size: 17px;
  }
  .plan .container .columns .scroll-flex .plans-bold .price1 {
    color: #1D293F;
    font-size: 15px;
  }
  .plan .container .columns .scroll-flex .plans-bold .trial1 {
    border: 1px solid #1D293F;
    display: block;
    text-align: center;
    background: white;
    width: 100%;
    padding: .2em;
  }
  .plan .container .columns .scroll-flex .storage {
    padding-right: 6em;
  }
  .plan .container .columns .scroll-flex .storage .start2 {
    font-weight: bold;
    font-size: 17px;
  }
  .plan .container .columns .scroll-flex .storage .store2 {
    color: #1D293F;
    font-size: 17px;
  }
  .plan .container .columns .scroll-flex .storage .price2 {
    color: #1D293F;
    font-size: 15px;
  }
  .plan .container .columns .scroll-flex .storage .trial2 {
    display: block;
    background: #fff;
    text-align: center;
    border: 1px solid #1D293F;
    width: 100%;
    padding: .2em;
  }
  .plan .container .columns .scroll-flex .price {
    padding-right: 6em;
  }
  .plan .container .columns .scroll-flex .price .start3 {
    font-weight: bold;
    font-size: 17px;
  }
  .plan .container .columns .scroll-flex .price .store3 {
    color: #1D293F;
    font-size: 17px;
  }
  .plan .container .columns .scroll-flex .price .price3 {
    color: #1D293F;
    font-size: 15px;
  }
  .plan .container .columns .scroll-flex .price a {
    color: #1D293F;
  }
  .plan .container .columns .scroll-flex .price .blue {
    display: block;
    background: var(--primary-color);
    text-align: center;
    width: 100%;
    padding: .2em;
    margin-top: 0px;
    color: white;
  }
  .plan .container .columns .day-trial {
    color: #1D293F;
    font-size: 13px;
  }
  .plan .container .columns span {
    font-size: 30px;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    margin: 0 auto;
  }
  .navbar .container {
    width: 100%;
  }
  .hero {
    background: url("../Images/herobg.jpg") no-repeat;
    width: 95%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero .container {
    width: 35%;
  }
  .features-section {
    background: white;
    color: black;
  }
  .features-section .container {
    margin-bottom: 9em;
  }
  .features-section .container .social-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: justify;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
    margin: 0 auto;
  }
  .features-section .container .solutions .cont {
    margin: 0 auto;
    width: 48%;
    margin-bottom: 9em;
  }
  .features-section .container .solutions ul.info-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: justify;
    padding: .5em;
    margin-bottom: 5em;
  }
  .features-section .container .solutions ul.info-tab .coloring {
    margin-right: 1em;
    border-radius: .5em;
    padding: 1em -1em 1em -1em;
  }
  .features-section .container .solutions ul.info-tab .coloring img {
    float: left;
    padding-left: .5em;
    padding-right: 0em;
  }
  .features-section .container .solutions ul.info-tab .coloring .little-heading {
    text-align: left;
    padding: 1em .8em .1em -1em;
  }
  .features-section .container .solutions ul.info-tab .coloring .helped {
    text-align: left;
    padding: .5em .8em 0em 0em;
  }
  .features-section .container .action {
    text-align: center;
    border-radius: 0.3125em;
    width: 11.875em;
    padding: 0.9375em;
    background-color: var(--primary-color);
    color: white;
  }
  .features-section .container .action a {
    color: white;
  }
  .features-section .container .action img {
    float: left;
    padding: 0.125em;
    vertical-align: top;
  }
  .features-section .container .email {
    margin-left: 10%;
  }
  .features-section .container .email .container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .features-section .container .email .container2 .compact {
    margin-top: 11em;
    margin-left: 4em;
  }
  .features-section .container .email .container2 .compact .head-up {
    text-align: left;
    width: 60%;
  }
  .features-section .container .email .container2 .compact .head-up .design-dup {
    font-size: 2.5em;
    margin-top: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0em;
    letter-spacing: -0.05em;
    color: #1D293F;
  }
  .features-section .container .email .container2 .compact .head-up .companies-version-dup {
    color: #7C8087;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 0;
  }
  .features-section .container .email .container2 .image-flex .large-picture {
    float: right;
    display: inline;
    vertical-align: middle;
    width: 150%;
    margin-top: 12em;
  }
  .features-section .container .work-anywhere {
    margin-left: 10%;
  }
  .features-section .container .work-anywhere .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: right;
  }
  .features-section .container .work-anywhere .container .image-flex2 .inbox {
    float: left;
    display: inline;
    vertical-align: middle;
    width: 120%;
    margin-top: 12em;
    margin-right: 8em;
  }
  .features-section .container .work-anywhere .container .compact2 {
    margin-top: 10em;
    margin-left: 10em;
  }
  .features-section .container .work-anywhere .container .compact2 .head-up {
    margin-top: 6em;
    text-align: left;
  }
  .features-section .container .work-anywhere .container .compact2 .head-up .design-dup {
    font-size: 2.5em;
    margin-top: 2.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0em;
    letter-spacing: -0.05em;
    width: 58%;
    color: #1D293F;
  }
  .features-section .container .work-anywhere .container .compact2 .head-up .companies-version-dup {
    font-size: 1.125em;
    font-style: normal;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 0;
    text-align: justify;
    width: 62%;
    color: #7C8087;
  }
  .features-section .container .work-anywhere img {
    display: block;
    margin-top: 1em;
  }
  .testimonial-section {
    background: url("../Images/BG.png") no-repeat;
    width: 95%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .testimonial-section .container {
    width: 80%;
    margin: 0 auto;
  }
  .testimonial-section .container .top-heading {
    width: 50%;
    margin: 0 auto;
  }
  .testimonial-section .container .flex-tab .tab-testimonies ul.testimonial-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .testimonial-section .container .flex-tab .tab-testimonies ul.testimonial-tab li.background-color {
    width: 30%;
    margin-right: 1em;
    margin-bottom: 4em;
    border-radius: 1em;
    background: white;
    border: 1px solid #E2E4E8;
  }
  .testimonial-section .container .flex-tab .tab-testimonies ul.testimonial-tab li.background-color .head {
    margin-top: 1em;
  }
  .testimonial-section .container .flex-tab .tab-testimonies ul.testimonial-tab li.background-color .head .left-side {
    float: left;
    vertical-align: middle;
    padding: 0em 1em 1em 1em;
  }
  .testimonial-section .container .flex-tab .tab-testimonies ul.testimonial-tab li.background-color .head .right-side {
    float: right;
    vertical-align: middle;
    padding: 1em 2em 7em 0em;
  }
  .testimonial-section .container .flex-tab .tab-testimonies ul.testimonial-tab li.background-color .head .testimonial-head {
    font-size: .8em;
    font-style: normal;
    font-weight: 500;
    line-height: 0em;
    letter-spacing: 0;
    width: 100%;
    padding: .5em .5em 0em 1em;
    text-align: left;
    color: #1D293F;
  }
  .testimonial-section .container .flex-tab .tab-testimonies ul.testimonial-tab li.background-color .head .sub-heading {
    font-size: 0.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 0em;
    letter-spacing: 0;
    width: 100%;
    padding: 0em 0em 1em 1em;
    text-align: left;
    color: #7C8087;
  }
  .testimonial-section .container .flex-tab .tab-testimonies ul.testimonial-tab li.background-color .comments {
    text-align: left;
    font-size: 0.8em;
    padding: 1em 1em .5em 1em;
    width: 100%;
    color: #7C8087;
  }
  .plan {
    background: white;
  }
  .plan .container {
    width: 80%;
  }
  .plan .container .top-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .plan .container .top-col .design-dup {
    font-size: 2.5em;
    margin-top: 2.5em;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    line-height: 1.0em;
    letter-spacing: -0.05em;
    width: 38%;
    color: #1D293F;
  }
  .plan .container .top-col .plan-frame {
    margin-top: 7em;
    margin-bottom: 7em;
    background: #FFD166;
    padding: .5em 0em 0em 2.5em;
    border-radius: .5em;
  }
  .plan .container .top-col span {
    background: white;
    border: 2px solid #FFD166;
    padding: .35em 2em;
    margin-left: 2em;
    border-radius: 0em .5em .5em 0em;
  }
  .plan .container .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20em;
    line-height: 2em;
  }
  .plan .container .columns .scroll-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .plan .container .columns .scroll-flex .plans-bold {
    padding-right: 6em;
  }
  .plan .container .columns .scroll-flex .plans-bold .start1 {
    font-weight: bold;
    font-size: 17px;
    display: inline;
  }
  .plan .container .columns .scroll-flex .plans-bold .store1 {
    color: #1D293F;
    display: inline;
    position: absolute;
    margin-left: 8em;
    margin-top: 0em;
    font-size: 17px;
  }
  .plan .container .columns .scroll-flex .plans-bold .price1 {
    color: #1D293F;
    position: absolute;
    margin-left: 30em;
    margin-top: -1.7em;
    width: 10%;
    font-size: 15px;
  }
  .plan .container .columns .scroll-flex .plans-bold .trial1 {
    border: 1px solid #1D293F;
    display: block;
    text-align: center;
    background: white;
    position: absolute;
    width: 15%;
    margin-left: 45em;
    margin-top: 0em;
    padding: .2em;
  }
  .plan .container .columns .scroll-flex .storage {
    padding-right: 6em;
  }
  .plan .container .columns .scroll-flex .storage .start2 {
    font-weight: bold;
    font-size: 17px;
    position: absolute;
    left: 12%;
    margin-top: 8em;
    display: inline;
  }
  .plan .container .columns .scroll-flex .storage .store2 {
    color: #1D293F;
    font-size: 17px;
    position: absolute;
    margin-left: 2.5em;
    margin-top: 8em;
  }
  .plan .container .columns .scroll-flex .storage .price2 {
    color: #1D293F;
    font-size: 15px;
    margin-left: 19.5em;
    margin-top: 9.5em;
  }
  .plan .container .columns .scroll-flex .storage .trial2 {
    display: block;
    background: #fff;
    text-align: center;
    border: 1px solid #1D293F;
    position: absolute;
    width: 15%;
    margin-left: 35.5em;
    margin-top: -4.5em;
    padding: .2em;
  }
  .plan .container .columns .scroll-flex .price {
    padding-right: 6em;
  }
  .plan .container .columns .scroll-flex .price .start3 {
    font-weight: bold;
    font-size: 17px;
    position: absolute;
    left: 12%;
    margin-top: 16em;
    display: inline;
  }
  .plan .container .columns .scroll-flex .price .store3 {
    color: #1D293F;
    font-size: 17px;
    position: absolute;
    margin-left: -32.3em;
    margin-top: 16em;
  }
  .plan .container .columns .scroll-flex .price .price3 {
    color: #1D293F;
    margin-left: -20em;
    position: absolute;
    margin-top: 18.5em;
    width: 40%;
    font-size: 15px;
  }
  .plan .container .columns .scroll-flex .price a {
    color: #1D293F;
  }
  .plan .container .columns .scroll-flex .price .blue {
    display: block;
    background: var(--primary-color);
    text-align: center;
    position: absolute;
    width: 15%;
    padding: .2em;
    margin-left: -1.5em;
    margin-top: 18em;
    color: white;
  }
  .plan .container .columns .day-trial {
    color: #1D293F;
    font-size: 13px;
  }
  .plan .container .columns span {
    font-size: 30px;
    margin-top: 0;
  }
  .footer .container {
    width: 100%;
  }
  .footer .container .flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 100px 100px 10px 200px;
  }
  .footer .container .flex-box .footer-col1 {
    margin-right: 0em;
  }
  .footer .container .flex-box .footer-col1 img {
    vertical-align: middle;
  }
  .footer .container .flex-box .footer-col1 .text {
    width: 70%;
    margin-bottom: 2em;
    padding-right: 5em;
  }
  .footer .container .flex-box .footer-col2 {
    width: 30%;
    padding-right: 2em;
  }
  .footer .container .flex-box .footer-col3 {
    width: 30%;
    padding-right: 2em;
  }
  .footer .container .flex-box .footer-col4 {
    width: 50%;
  }
  .footer .container .flex-box .footer-col4 .bottom2 {
    width: 70%;
    font-size: 13px;
  }
  .footer .container .footer-bottom .copyright {
    padding: 10px 100px 10px 200px;
  }
  .footer .container .footer-bottom .line {
    width: 69%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1D293F;
    opacity: 0.5;
  }
  .footer .bottom {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1350px) {
  .plan {
    background: white;
  }
  .plan .container {
    width: 80%;
  }
  .plan .container .top-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .plan .container .top-col .design-dup {
    font-size: 2.5em;
    margin-top: 2.5em;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    line-height: 1.0em;
    letter-spacing: -0.05em;
    width: 38%;
    color: #1D293F;
  }
  .plan .container .top-col .plan-frame {
    margin-top: 7em;
    margin-bottom: 4.5em;
    background: #FFD166;
    padding: .5em 0em 0em 2.5em;
    border-radius: .5em;
  }
  .plan .container .top-col span {
    background: white;
    border: 2px solid #FFD166;
    padding: .35em 2em;
    margin-left: 2em;
    border-radius: 0em .5em .5em 0em;
  }
  .plan .container .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20em;
    line-height: 2em;
  }
  .plan .container .columns .scroll-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .plan .container .columns .scroll-flex .plans-bold {
    padding-right: 6em;
  }
  .plan .container .columns .scroll-flex .plans-bold .start1 {
    font-weight: bold;
    font-size: 17px;
    display: inline;
  }
  .plan .container .columns .scroll-flex .plans-bold .store1 {
    color: #1D293F;
    display: inline;
    position: absolute;
    margin-left: 8em;
    margin-top: 0em;
    font-size: 17px;
  }
  .plan .container .columns .scroll-flex .plans-bold .price1 {
    color: #1D293F;
    position: absolute;
    margin-left: 30em;
    margin-top: -1.7em;
    width: 10%;
    font-size: 15px;
  }
  .plan .container .columns .scroll-flex .plans-bold .trial1 {
    border: 1px solid #1D293F;
    display: block;
    text-align: center;
    background: white;
    position: absolute;
    width: 15%;
    margin-left: 45em;
    margin-top: 0em;
    padding: .2em;
  }
  .plan .container .columns .scroll-flex .storage {
    padding-right: 6em;
  }
  .plan .container .columns .scroll-flex .storage .start2 {
    font-weight: bold;
    font-size: 17px;
    position: absolute;
    left: 12%;
    margin-top: 8em;
    display: inline;
  }
  .plan .container .columns .scroll-flex .storage .store2 {
    color: #1D293F;
    font-size: 17px;
    position: absolute;
    margin-left: 2.5em;
    margin-top: 8em;
  }
  .plan .container .columns .scroll-flex .storage .price2 {
    color: #1D293F;
    font-size: 15px;
    margin-left: 19.5em;
    margin-top: 9.5em;
  }
  .plan .container .columns .scroll-flex .storage .trial2 {
    display: block;
    background: #fff;
    text-align: center;
    border: 1px solid #1D293F;
    position: absolute;
    width: 15%;
    margin-left: 35.5em;
    margin-top: -4.5em;
    padding: .2em;
  }
  .plan .container .columns .scroll-flex .price {
    padding-right: 6em;
  }
  .plan .container .columns .scroll-flex .price .start3 {
    font-weight: bold;
    font-size: 17px;
    position: absolute;
    left: 12%;
    margin-top: 16em;
    display: inline;
  }
  .plan .container .columns .scroll-flex .price .store3 {
    color: #1D293F;
    font-size: 17px;
    position: absolute;
    margin-left: -32.3em;
    margin-top: 16em;
  }
  .plan .container .columns .scroll-flex .price .price3 {
    color: #1D293F;
    margin-left: -20em;
    position: absolute;
    margin-top: 18.5em;
    font-size: 15px;
  }
  .plan .container .columns .scroll-flex .price a {
    color: #1D293F;
  }
  .plan .container .columns .scroll-flex .price .blue {
    display: block;
    background: var(--primary-color);
    text-align: center;
    position: absolute;
    width: 15%;
    padding: .2em;
    margin-left: -1.5em;
    margin-top: 18em;
    color: white;
  }
  .plan .container .columns .day-trial {
    color: #1D293F;
    font-size: 13px;
  }
  .plan .container .columns span {
    font-size: 30px;
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */